<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat App</title>
    <link rel="stylesheet" href="/chat.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.2/socket.io.js" integrity="sha512-zoJXRvW2gC8Z0Xo3lBbao5+AS3g6YWr5ztKqaicua11xHo+AvE1b0lT9ODgrHTmNUxeCw0Ry4BGRYZfXu70weg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <header class="chat-header">
        <h1 class="room-message">Welcome to the Chat Room</h1>
    </header>
    <div class="window">
        <div class="chat-message">
            <div id="output"></div>
            <div id="feedback"></div>
        </div>
        <div class="input-container">
            <input type="text" id="message" placeholder="Enter your message">
            <button id="send" class="animated fadeInUp gradient-button">Send</button>
        </div>
    </div>
    <div class="online">
        <h2 class="users-online">Users Online</h2>
        <ul class="users">
            <!-- User list goes here -->
        </ul>
    </div>
    <script src="/script.js"></script>
</body>
</html>
